/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$imageFolder: '../images/';
$greyText: #858788;
$blackText: #555;
$greenHighlight: #01c4c6;

$fontSize: 16px;


$cream: #fff3e5;
$darkBrown: #705540;


//Google Maps Colors
// At Rest
$water: #abd0ef; //blue
$stateLand: #e7f1d7;
$stateBorder: #434343;

// During Activity
$selectedState: #4e8c44; //#86b37f; //#7ab370; //#d6d3ce; //#bbdbb8;
$highlightedState: #c0e0ba;
$darkenedState: #86b37f;

$text: #434343; //grey
