!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name:"viewport", |
      content:"width=device-width, initial-scale=1, maximum-scale=1" }
    %title= data.page.title
  %body
    = yield
    -#  Adding stylesheets and javascript at the bottom
    = stylesheet_link_tag 'custom.css'

    -# Javascript
    = javascript_include_tag  'models.js', 'ajaxHelper.js', 'info_controller.js', 'listedResults_controller.js', 'map_controller.js', 'searchInput_controller.js', 'keyInput_controller.js', 'clearIcon_controller.js'