---
title: US States
---
%header 
  %h1 Find State Information

%main 
  %section.search
    %input#searchInput{ name:'searchInputName', type:'text', maxlength:20, tabindex:1, autofocus:true, autocomplete:"off", placeholder:'e.g., California'}
      .clearIconOff#clearIcon{ tabindex:2 }
      %ul#result
  // Display Default Information
  %div.info
    %h1#stateName Texas
    = image_tag('./flags/texas.flag.png', id:'flag', alt:'Texas flag', title:'Texas flag')
    %ul#stateInfo
      %li
        %span.titleList Nickname:
        %span#nickname Lone Star State
      %li
        %span.titleList Capital:
        %span#capital Austin
      %li
        %span.titleList Area:
        %span#area_sqmi 268,596.46 sq mi
      %li
        %span.titleList Population (2013):
        %span#population 26,448,193

%section.map
  %object#svgmap{type:"image/svg+xml", data:"./images/us_map.svg"}

%footer
  %p This web app demonstrates raw JavaScript, AJAX, JSON, PHP, SVG, and MVC
  %a{ href: "//github.com/ayjaygit/states#readme", target: "_blank" } Learn More on GitHub
  %span &#8226;
  %a{ href: "//anton23.com", target: "_blank" } Go to Anton's Page

